h1 {
    color: #EEEEEE;
}

body {
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    vertical-align: middle;
}

#menu ul {
    /*margin: 0*/
    /*padding: 0;*/
    /*list-style: none;*/
    padding-top: 200px;
    padding-left: 300px;
    text-align: center;
}

#menu li {
    display: inline;
    padding: 0;
    margin: 0;
    float: left;
}

#menu li a {
    display: block;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 10px;
    text-decoration: none;
    color: #333;
    width: 100px;
    margin: 50px;
    text-align: center;
    font-size: 14px;
}

#menu li a:hover {
    background-color: #2d56be;
    color: #fff;
}